:root {
    --grid-rows: 1;
    --grid-columns: 1;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Billion';
    src: url('../fonts/BillionDreams_PERSONAL.ttf');
}

html {
    background-color: whitesmoke;
}

body {
    text-align: center;
    font-family: 'Roboto';
}

h1 {
    font-family: 'Billion';
    font-size: 4rem;
}

#game-board {
    display: grid;
    margin: 1.5rem auto 1.5rem auto;
    width: 30vw;
    height: 30vh;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-columns), auto);
    border: 1px solid black;
}